In [1]:
import pandas as pd
import matplotlib.pyplot as plt

pd.set_option("display.max_columns", 50)

In [6]:
raw = pd.read_csv("data/readable_transaction_01_09_2025.csv")
raw.info()

C:\Users\faisa\AppData\Local\Temp\ipykernel_26692\1786085868.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  raw = pd.read_csv("data/readable_transaction_01_09_2025.csv")

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 383584 entries, 0 to 383583
Data columns (total 13 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   Property Type                    383584 non-null  object
 1   District                         383584 non-null  object
 2   Mukim                            383584 non-null  object
 3   Scheme Name/Area                 383584 non-null  object
 4   Road Name                        383584 non-null  object
 5   Month, Year of Transaction Date  383584 non-null  object
 6   Tenure                           383584 non-null  object
 7   Land/Parcel Area                 383584 non-null  float64
 8   Unit                             383584 non-null  object
 9   Main Floor Area                  383584 non-null  object
 10  Unit                             383584 non-null  object
 11  Unit Level                       383584 non-null  object
 12  Transaction Price                383584 non-null  int64
dtypes: float64(1), int64(1), object(11)
memory usage: 38.0+ MB

In [16]:
# Formatting/Cleaning Column Names
cols = raw.columns.str.strip().str.replace(" ","_").str.lower().str.replace(",","").str.replace("/","_or_")
print(cols)
data = raw.copy()
data.columns = cols
data.sample()

Index(['property_type', 'district', 'mukim', 'scheme_name_or_area',
       'road_name', 'month_year_of_transaction_date', 'tenure',
       'land_or_parcel_area', 'unit', 'main_floor_area', 'unit', 'unit_level',
       'transaction_price'],
      dtype='object')

,property_type,district,mukim,scheme_name_or_area,road_name,month_year_of_transaction_date,tenure,land_or_parcel_area,unit,main_floor_area,unit,unit_level,transaction_price
9654,1 - 1 1/2 Storey Semi-Detached,Kuala Nerus,Kuala Nerus,KG TEPUH,OFF JLN KB/KT PL1360,1/8/2022,Freehold,470.0,sq.m,111,sq.m,,435000